# Python 3

## Lucas Georges Helal
#### Mestrando em Ciência da Computação - UEM

---------------------------------------
Desempacotamento de Sequências

In [1]:
# Inteiros
a, b, c = [1, 2, 3]

In [2]:
print ("a =" , a ,"b =", b, "c =",c)

a = 1 b = 2 c = 3

In [3]:
# Tuplas
t1, t2 = ("Lucas", "Helal")

In [4]:
"t1 =", t1, "t2 =", t2

('t1 =', 'Lucas', 't2 =', 'Helal')

In [5]:
# Strings

l,u,c,a,s = "Lucas"

print ("l =", l, "u =", u, "c =", c, "a =", a, "s =", s)

l = L u = u c = c a = a s = s

In [6]:
# Descartando Elementos
a, b, _ = [1, 2, 3]
"a =" , a ,"b =", b

('a =', 1, 'b =', 2)

In [7]:
# Desempacotando valores com tamanhos desconhecidos

valores = [10, 20, 30, 40, 50]

first, *tail = valores

"First =", first, "Tail =", tail

('First =', 10, 'Tail =', [20, 30, 40, 50])

In [8]:
first, *_ , last = valores

"First =", first, "Last =", last

('First =', 10, 'Last =', 50)

Geradores

In [9]:
gerador = (letra for letra in "oi")
next(gerador)

'o'

In [10]:
# ou
gerador.__next__()

'i'

Yield

O objetivo do Yield é retornar algum interador conforme ele vai sendo utilizado, exemplo: algum caso que o return seja muito grande e não caiba na memória.

In [11]:
def gerador_yield():
    for i in range(5):
        yield i

y = gerador_yield()

next(y)

0

Deque (Fila Dupla)

Pode ser inserido tanto no final quanto no início da fila, tem complexidade O(1) diferente de uma lista que é O(N).

In [12]:
from collections import deque

# Fila com max tamanho

fila = deque(maxlen = 3)
fila.append(1)
fila.append(2)
fila.append(3)
print(fila)

# se inserir mais elementos que o max, ela remove o primeiro elemento.
fila.append(4)
print(fila)

deque([1, 2, 3], maxlen=3)
deque([2, 3, 4], maxlen=3)

In [13]:
fila_dupla = deque()
fila_dupla.append(1)
fila_dupla.append(2)
fila_dupla.append(3)
# insere a esquerda
fila_dupla.appendleft(4)
print(fila_dupla)
# remove a direita
fila_dupla.pop()
print(fila_dupla)

# remove a esquerda
fila_dupla.popleft()
print(fila_dupla)

deque([4, 1, 2, 3])
deque([4, 1, 2])
deque([1, 2])

Heapq

Custo para remover o menor elemento é O log(n)

heap[0] sempre trás o menor elemento.

Fila de prioridades.

In [14]:
import heapq

idades = [13, 30, 8, 9, 20]

# retorna n menores idades

print(heapq.nsmallest(2, idades))

# retorna n maiores idades

print(heapq.nlargest(1, idades))

# transforma lista em heap em tempo linear

heapq.heapify(idades)

print(idades)

print (heapq.heappop(idades))

heapq.heappush(idades, 12)
print (idades)

[8, 9]
[30]
[8, 9, 13, 30, 20]
8
[9, 12, 13, 30, 20]

In [15]:
class PriorityQueue:
    def __init__(self):
        self._queue = []
        self._index = 0
    
    def push(self, item, priority):
        # -priority para retornar a maior prioridade
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1
        
    def pop(self):
        #[-1] para retornar o item
        return heapq.heappop(self._queue)[-1]
    
class Person:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return self.name

q = PriorityQueue()
q.push(Person("Lucas"), 27)
q.push(Person("Carlos"), 28)
q.push(Person("Camila"), 17)
q.push(Person("Maria"), 30)


print(q.pop())

Maria

#### Bitwise

* Shift a esquerda: x << y

* Shift a direita: x >> y

* AND: x & y

* OR: x | y

* XOR: x ˆ y

* Complemento: ~x

In [16]:
n1 = 10
n2 = 5
print(bin(n1))
print(bin(n2))
resultado = n2 | n1

resultado

0b1010
0b101

15

#### Ordenação

In [17]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
    
    def __repr__(self):
        return self.nome

def pelo_nome(pessoa):
    return pessoa.nome

def pela_idade(pessoa):
    return pessoa.idade

p1 = Pessoa("Lucas", 27)
p2 = Pessoa("Matheus", 23)

pessoas = [p1, p2]


print(sorted(pessoas, key = pelo_nome))
print(sorted(pessoas, key = pela_idade))
print(sorted(pessoas, key = pela_idade, reverse=True))

[Lucas, Matheus]
[Matheus, Lucas]
[Lucas, Matheus]

#### Funções Aninhadas e utilização do Try except

In [18]:
def pai(num):
    
    def filho_um():
        print("Filho1")
    
    def filho_dois():
        print("Filho2")
        
    try:
        assert num == 20
        return filho_um
    except AssertionError:
        return filho_dois
    
f1 = pai(10)
f1()

f2 = pai(20)
f2()

Filho2
Filho1

#### Dicionários com múltiplos valores

In [19]:
from collections import defaultdict

# dic com múltiplos valores permite repitidos

dic = defaultdict(list)
dic['Lucas'].append(10)
dic['Lucas'].append(14)
dic['Lucas'].append(10)

print(dic['Lucas'])

# dic com múltiplos valores NÃO permite repitidos

dic = defaultdict(set)
dic['Lucas'].add(10)
dic['Lucas'].add(14)
dic['Lucas'].add(10)

print(dic['Lucas'])

[10, 14, 10]
{10, 14}

In [20]:
# dicionários com ordenação de acordo com a ordem de inserção

from collections import OrderedDict

d = OrderedDict()
d["Python"] = 10
d["Java"] = 9
d["Php"] = 11

for key in d:
    print(key, d[key])

Python 10
Java 9
Php 11

#### Multiplicidade

In [21]:
from collections import Counter

c = Counter(a=4, b=2, c=3)

print(c)

Counter({'a': 4, 'c': 3, 'b': 2})

In [22]:
c_elem = c.elements()

list(c_elem)

['a', 'a', 'a', 'a', 'b', 'b', 'c', 'c', 'c']

In [23]:
# lista o n elementos mais comuns
c.most_common(3)

[('a', 4), ('c', 3), ('b', 2)]

#### Indexação negativa

In [24]:
lista = [1, 2, 3, 4, 5, 6]

print(lista[-1])

print(lista[-3])

print(lista[-4:-2])

print(lista[::-2])

6
4
[3, 4]
[6, 4, 2]

In [25]:
# slice(start, end, step)

passo_menos_2 = slice(None, None, -2)
lista[passo_menos_2]

[6, 4, 2]

#### Operação em conjuntos (sets)

In [26]:
c = {1, 2, 3, 4, 5}
print(c)

d = {3, 3, 4, 4, 6, 7}
print(d)
# Não permite conjuntos repitidos
print(type(d))

print(c | d)
print(c & d)
print(c - d)
print(c ^ d)

{1, 2, 3, 4, 5}
{3, 4, 6, 7}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2, 5}
{1, 2, 5, 6, 7}

#### Produtos Cartesianos

In [27]:
import itertools

for p in itertools.product([1, 2, 3], ['A', 'B']):
    print(p)

(1, 'A')
(1, 'B')
(2, 'A')
(2, 'B')
(3, 'A')
(3, 'B')

#### Permutações

In [28]:
for p in itertools.permutations([1, 2, 3]):
    print(p)
    print(' '.join(str(x) for x in p))

(1, 2, 3)
1 2 3
(1, 3, 2)
1 3 2
(2, 1, 3)
2 1 3
(2, 3, 1)
2 3 1
(3, 1, 2)
3 1 2
(3, 2, 1)
3 2 1

In [29]:
# Combinando listas

lista_um = [1, 2]
lista_dois = ["a", "b"]

comb = itertools.chain(lista_um, lista_dois)
list(comb)

[1, 2, 'a', 'b']

In [30]:
# Combinando elementos em tuplas

z = zip([1, 2, 3], ["a", "b"])
list(z)

[(1, 'a'), (2, 'b')]

#### Agrupando itens com base em uma chave

In [31]:
from operator import itemgetter
from itertools import groupby

exemplos =[("marcos", 28), ("pedro", 19), ("joao", 20), ("marcos", 20), ("joao", 18), ("marcos", 30)]
print(exemplos)

exemplos.sort(key=itemgetter(0))
print(exemplos)

agrup = { key: sorted(map(itemgetter(1), value)) for key, value in groupby(exemplos, key=itemgetter(0))}
print(agrup)

[('marcos', 28), ('pedro', 19), ('joao', 20), ('marcos', 20), ('joao', 18), ('marcos', 30)]
[('joao', 20), ('joao', 18), ('marcos', 28), ('marcos', 20), ('marcos', 30), ('pedro', 19)]
{'joao': [18, 20], 'marcos': [20, 28, 30], 'pedro': [19]}

#### Agrupando dic com base em uma chave

In [32]:
linhas = [
    {'nome':'marcos', 'data':'27/12/1997'},
    {'nome':'xclaudio', 'data':'09/01/1991'},
    {'nome':'anderson', 'data':'27/12/1997'},
    {'nome':'victor', 'data':'09/01/1991'},
    {'nome':'bruno', 'data':'27/12/1997'}
]

linhas.sort(key=itemgetter('data'))

for data, itens in groupby(linhas, key=itemgetter('data') ):
    print(data)
    for i in itens:
        print('', i)

09/01/1991
 {'nome': 'xclaudio', 'data': '09/01/1991'}
 {'nome': 'victor', 'data': '09/01/1991'}
27/12/1997
 {'nome': 'marcos', 'data': '27/12/1997'}
 {'nome': 'anderson', 'data': '27/12/1997'}
 {'nome': 'bruno', 'data': '27/12/1997'}

#### Add um contador a um iterable

In [33]:
tupla = (1, 2, 3, 4)

for count, elem in enumerate(tupla):
    print("%d %d" % (count, elem))

0 1
1 2
2 3
3 4

#### Obtendo max e min valores em um dic e associando a chave e valor

In [34]:
precos = {"carro":24000, "casa":120000}

print(min(zip(precos.values(), precos.keys())))
print(max(zip(precos.values(), precos.keys())))

(24000, 'carro')
(120000, 'casa')

#### Conjuntos em dic

In [35]:
# o metódo keys() suporta operações de conjuntos

d = {"lucas":27, "ana":23, "maria": 10}
d2 = {"matheus": 20, "maria":18}

d.keys() & d2.keys()

{'maria'}

#### list comprehension

In [36]:
lista = [10, -5, 5, 20, -50, 200]

print([i for i in lista if i > 10])

gen = (i for i in lista if i < 10)
for j in gen:
    print(j)

[20, 200]
-5
5
-50

#### Compress

retorna valores True

In [37]:
from itertools import compress

nomes = ['lucas', 'carlos', 'ana', 'bia']
idade = [20, 25, 30, 14]
maior20 = [i > 20 for i in idade]
print(maior20)

list(compress(nomes, maior20))

[False, True, True, False]

['carlos', 'ana']

#### dict comprehension

In [38]:
precos = {
    'xiaomi':1500,
    'iphone':4500,
    'notebook':2500,
    'macbook':6000
}

precos_maior_2000 = {key:value for key, value in precos.items() if value > 2000}
precos_maior_2000

{'iphone': 4500, 'macbook': 6000, 'notebook': 2500}

#### namedtuple

retorna uma subclasse de tupla

In [39]:
from collections import namedtuple

Subscriber = namedtuple('Subscriber', ['id', 'nome'])
sub = Subscriber('10', 'lucas')
print(sub)

print(sub.id, sub.nome)

sub._replace(id='12')

Subscriber(id='10', nome='lucas')
10 lucas

Subscriber(id='12', nome='lucas')

#### Verificar inicio e fim de uma string

In [40]:
nome = 'Lucas Helal'

print(nome.startswith('Luca'))
print(nome.endswith('al'))
print(nome.find('He'))

True
True
6

In [41]:
# comparação de nomes de arquivos com string

from fnmatch import fnmatch, fnmatchcase

print(fnmatch('arquivo.txt', '*.txt'))
print(fnmatch('arquivo.py', '*.txt'))
print(fnmatch('arquivo10.txt', '*[0-9].txt'))

#comparação case sensitive
print(fnmatchcase('arquivo.txt', '*.TXT'))

True
False
True
False

#### Pesquisando com padrões regex

In [42]:
import re

data = ('09/01/1991')

# d+ um ou mais inteiros
r = True if re.match(r'\d+/\d+/\d+', data) else False
print (r)

data_comp = re.compile(r'\d+/\d+/\d+')
# data_comp.match(data)

r = True if data_comp.match(data) else False
print (r)

texto = 'Lucas nasceu em 09/01/1991, matheus nasceu em 09/01/1995'

data_comp.findall(texto)

True
True

['09/01/1991', '09/01/1995']

#### Operando em lista de modo inverso

In [43]:
lista =  [1, 2, 3]

for i in reversed(lista):
    print(i)

3
2
1

#### Metódos especiais

In [44]:
class Complex:
    
    def __init__(self, real, imaginario):
        self.real = real
        self.imaginario = imaginario
    
    def __repr__(self):
        return '{0}, {1}i'.format(self.real, self.imaginario)
    
    def __add__(self, other):
        return Complex(self.real + other.real, self.imaginario + other.imaginario)
    
c1 = Complex(3,2)
print(c1)
c2 = Complex(4,2)

c3 = c1 + c2
print(c3)

3, 2i
7, 4i

#### Pesquisando e substituindo textos

In [45]:
import re

texto = 'Java, JAVA é leve!'
print (texto.replace('Java', 'Python'))
print (re.sub('java', 'python', texto, flags=re.IGNORECASE))


texto = 'a data do meu niver é 09/01/1991'

texto2 = re.sub(r'(\d+)/(\d+)/(\d+)', r'\3-\1-\2', texto)
print(texto2)

padrao = re.compile(r'(\d+)/(\d+)/(\d+)')
texto3 = re.sub(padrao, r'\3*\1*\2', texto)
print(texto3)

Python, JAVA é leve!
python, python é leve!
a data do meu niver é 1991-09-01
a data do meu niver é 1991*09*01

#### Removendo caracteres do string

In [46]:
texto = '  python  '
# remove caract em branco do inicio e do fim
print(texto.strip())

texto = '--python---  *'
# remove caract em especifico do inicio e do fim
print(texto.strip('-'))

texto = '  python'
# remove caract em branco do inicio
print(texto.lstrip())
texto = '  python    '
# remove caract em branco do inicio
print(texto.rstrip())

python
python---  *
python
  python